apiVersion: apps/v1
kind: Deployment
metadata:
  name: uptimekuma
  namespace: uptimekuma
  labels:
    app: uptimekuma
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: uptimekuma
  template:
    metadata:
      labels:
        app: uptimekuma
    spec:
      containers:
      - image: louislam/uptime-kuma:2
        name: uptimekuma
        env:
          - name: UPTIME_KUMA_DB_TYPE
            value: "mariadb"
          - name: UPTIME_KUMA_DB_HOSTNAME
            value: "mariadb.mariadb.svc.calfolguera.com"
          - name: UPTIME_KUMA_DB_NAME
            value: "uptimekuma"
          - name: UPTIME_KUMA_DB_USERNAME
            valueFrom:
              secretKeyRef:
                name: uptimekuma-mariadb-pass
                key: username
          - name: UPTIME_KUMA_DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: uptimekuma-mariadb-pass
                key: password
        ports:
        - containerPort: 3001
          name: uptimekuma
        volumeMounts:
        - name: uptimekuma-persistent-storage
          mountPath: /app/data
      volumes:
      - name: uptimekuma-persistent-storage
        persistentVolumeClaim:
          claimName: uptimekuma-pv-claim
