apiVersion: apps/v1
kind: Deployment
metadata:
  name: uptimekuma
  namespace: uptimekuma
  labels:
    app: uptimekuma
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: uptimekuma
  template:
    metadata:
      labels:
        app: uptimekuma
    spec:
      containers:
      - image: louislam/uptime-kuma:latest
        name: uptimekuma
        ports:
        - containerPort: 3001
          name: uptimekuma
        volumeMounts:
        - name: uptimekuma-persistent-storage
          mountPath: /app/data
      volumes:
      - name: uptimekuma-persistent-storage
        persistentVolumeClaim:
          claimName: uptimekuma-pv-claim
